/* ADMIN PANEL */

.admin-panel{

    background: #ffe4ec;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 15px;

}

.admin-panel h2{

    margin: 0;
    color: #ff4f87;

}

.admin-panel input{

    padding: 14px;
    border: none;
    border-radius: 12px;
    font-family: inherit;

}

.admin-panel button{

    background: #ff4f87;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;

}

.admin-buttons{

    display: flex;
    gap: 10px;
    margin-top: 15px;

}

.admin-buttons button{

    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;

}
